div.wrap

  h1 Sir Gester

  div.content

    h2 Login
    div(data-bind="with: user")
      form
        fieldset
          div.form__row.flush--bottom
            label(for="name") Name
            input(type="text" data-bind="value: first" id="name")
            br
            label(for="password") Password
            input(type="password" data-bind="value: last" id="password")
            br
            input(type="button" value="Login" data-bind="click: login" class="btn")

    div(data-bind="visible: loggedin")
      ul(data-bind="foreach: books")
        li(data-bind="text: name")