div
  p.float-left.push--right Sort by
  input(type="button" value="Milestone" data-bind="click: orderbyMilestone").btn.push-half--right
  input(type="button" value="Left" data-bind="click: orderbyLeft").btn
  ul(data-bind="foreach: books").list--unstyled.push--top
    li.list-item
      h4.flush--bottom.book-title(data-bind="text: name")
      .progressbar
        .progressbar-milestone(data-bind="style: { width: milestonePage() + '%'}")
        .progressbar-inner(data-bind="style: { width: percentage() + '%' }")
      details
        summary Details
        div(data-bind="attr: { id: objectid }")
          dl.dlist--vertical
            dt Author(s)
            dd(data-bind="text: authors")
            dt Genre
            dd(data-bind="text: genre")
            dt Left
            dd(data-bind="text: left")
            dt Current
            dd(data-bind="text: current")
            dt Next ms
            dd(data-bind="text: nextMilestone")
            dt Total
            dd(data-bind="text: total")
          input(type="number").form-control--short.float--left.push--right
          input(data-bind="click: updatePage" type="button" value="Update").btn.push-half--right
          input(type="button" value="Finish").btn
          br
          a Delete

div
  h2 Shelved
  ul(data-bind="foreach: shelved").list--unstyled
    li.list-item.push--bottom
      h6.flush--bottom(data-bind="text: name")
      .progressbar
        .progressbar-milestone(data-bind="style: { width: milestonePage() + '%'}")
        .progressbar-inner(data-bind="style: { width: percentage() + '%' }")
      details.soft--bottom
        summary Details
        div
          dl.dlist--vertical
            dt Author(s)
            dd First Last
            dt Genre
            dd(data-bind="text: genre")
            dt Updated
            dd(data-bind="text: updatedat")
            dt Left
            dd(data-bind="text: left")
            dt Current
            dd(data-bind="text: current")
            dt Next ms
            dd(data-bind="text: nextMilestone")

div
  h2 Done
  ul(data-bind="foreach: done").list--unstyled
    li.list-item
      h6.flush--bottom(data-bind="text: name")
      details.soft--bottom
        summary Details
        div
          dl.dlist--vertical
            dt Author(s)
            dd First Last
            dt Genre
            dd(data-bind="text: genre")
            dt Updated
            dd(data-bind="text: updatedat")
            dt Left
            dd(data-bind="text: left")
            dt Current
            dd(data-bind="text: current")
            dt Next ms
            dd(data-bind="text: nextMilestone")
