div
  ul(data-bind="foreach: books").list--unstyled
    li
      h6(data-bind="text: name")
      .progressbar
        .progressbar-milestone(data-bind="style: { width: milestonePage + '%'}")
        .progressbar-inner(data-bind="style: { width: percentage + '%' }")
      details
        summary Details
        div
          dl.dlist--vertical
            dt Author(s)
            dd First Last
            dt Genre
            dd(data-bind="text: genre")
            dt Left
            dd(data-bind="text: left")
            dt Current
            dd(data-bind="text: current")
            dt Next ms
            dd(data-bind="text: nextMilestone")

div
  h2 Shelved
  ul(data-bind="foreach: shelved").list--unstyled
    li
      h6(data-bind="text: name")
      dl.dlist--vertical
        dt Updated
        dd(data-bind="text: updatedat")
div
  h2 Done
  ul(data-bind="foreach: done").list--unstyled
    li
      h6(data-bind="text: name")
      dl.dlist--vertical
       dt Updated
       dd(data-bind="text: updatedat")