div
  ul(data-bind="foreach: books").list--unstyled
    li
      h6(data-bind="text: name")
      .progressbar
        .progressbar-milestone(data-bind="style: { width: milestonePage + '%'}")
        .progressbar-inner(data-bind="style: { width: percentage + '%' }")
      dl.dlist--vertical
        dt Author(s)
        dd First Last
        dt Genre
        dd(data-bind="text: genre")
        dt Left
        dd(data-bind="text: left")
        dt Current
        dd(data-bind="text: current")
        dt Next ms
        dd(data-bind="text: nextMilestone")