div
  ul(data-bind="foreach: books").list--unstyled
    li
      h6(data-bind="text: name")
      .progressbar
        span.pages-left(data-bind="text: left")
        span.pages-read(data-bind="text: current")
        span.pages-to-milestone(data-bind="text: nextMileStone")
        .progressbar-milestone(style="width: 25%")
          .progressbar-inner(style="width: 80%")
      dl.dlist--vertical
        dt Author(s)
        dd First Last
        dt Genre
        dd(data-bind="text: genre")