<form class="vertical left-floated pad--sides">
	<label>Title:</label>
	<input id="bookname" value="{{ name }}" type="text" style="clear: both" />
	<label>Author:</label>
	<div id="author">
	</div>
	<label>Genre:</label>
	<div id="genre">
	</div>
	<label>Pages:</label>
	<div class="input-pair">
		<input id="totalpages" type="number" value="{{ totalpages }}" placeholder="Total"/>
		<input id="currpage" type="number" value="{{ currentPage}}" placeholder="Current"/>
	</div>
	<button id="savebook" class="green large icon-plus"> Add book</button> 
</form>