<form class="vertical left-floated">
	<label>Title:</label>
	<input id="bookname" value="{{ name }}" type="text" />
	<label>Author:</label>
	<div class="input-pair-with-icon">
		<input id="author" value="{{ author }}" class="l-half" placeholder="first name"/>
		<input id="author" value="{{ author }}" class="l-half" placeholder="last name"/>
		<a href><i class="icon-large icon-plus-sign"></i></a>
	</div>
	<div class="input-pair-with-icon hide">
		<input id="author" value="{{ author }}" class="l-half" placeholder="first name"/>
		<input id="author" value="{{ author }}" class="l-half" placeholder="last name"/>
		<a href><i class="icon-large icon-minus-sign"></i></a>
	</div>
	<label>Genre:</label>
	<div id="genre">
	</div>
	<label>Pages:</label>
	<div class="input-pair">
		<input id="totalpages" type="number" placeholder="Total"/>
		<input id="currpage" type="number" placeholder="Current"/>
	</div>
	<button id="savebook" class="green large icon-plus"> Add book</button> 
</form>