 <div id="book-details">
	<h6>{{ name }}</h6>
  
	<p class="books-details">
	 	<span class='books-author'>{{ author }} - </span>
		<span class='books-genre'>{{ genre }} - </span>
		<span class='books-pages'>{{ totalpages }} pages</span>
		<div>Your are at page {{ currentPage }} of {{ totalpages }}.</div>
		<div class="">You have got {{ percentageLeft }}% to next milestone.</div> 
		<div class="">At page {{ pagesToMilestone }} you will have read {{ nextMilestone }}%.</div> 
		<div class="">You have only got {{ pagesToNextMilestone }} pages to go!</div>
		<form> 
			<input id="currpage" value="{{ currentPage }}" type="number" />
		</form>
	</p>

	<div class="">
		<button id="save" class='btn btn-right'>save</button>
		<button id="edit" class='btn btn-right'>edit</button>
		<button id="delete" class='btn btn-right'>delete</button>
		<button id="shelf" class='btn btn-right'>shelf</button>
	</div>
<div>