 
	<p>
	 	<span class='books-author'><strong>Tempo: </strong> 82 bpm</span><br/>
	 	<span><strong>Notes: </strong>Some stuff worth writing down. Could be quite a bit of stuff here , so it'll need to be in a textarea.</span>
	</p>
	<p><strong>Latest version: </strong><a href="https://www.dropbox.com/s/kpvu3q4li8kpvf5/Serfdom.mp3?dl=0">Serfdom - 3</a></p>
	<form> 
		<br>
		<div class="push--bottom">
			<label for="" class="l-fifth text-large">Structure</label>
			<button id="done" class='green small'><i class="icon-plus"></i></button>
			<button id="done" class='orange small'><i class="icon-minus"></i></button>
		</div>
		<div class="push--bottom">
			<label for="" class="l-fifth text-large">Arrangement</label>
			<button id="done" class='green small'><i class="icon-plus"></i></button>
			<button id="done" class='orange small'><i class="icon-minus"></i></button>
		</div>
		<div class="push--bottom">
			<label for="" class="l-fifth text-large">Vocals</label>
			<button id="done" class='green small'><i class="icon-plus"></i></button>
			<button id="done" class='orange small'><i class="icon-minus"></i></button>
		</div>
		<div class="push--bottom">
			<label for="" class="l-fifth text-large">Lyrics</label>
			<button id="done" class='green small'><i class="icon-plus"></i></button>
			<button id="done" class='orange small'><i class="icon-minus"></i></button>
		</div>
	</form>
	<br/>
	<button id="edit" class='large'><i class="icon-edit"></i></button>
	<button id="history" class='large'><i class="icon-time"></i></button>
	<button id="shelf" class='large'><i class="icon-pause"></i></button>
	<button id="delete" class='large'><i class="icon-trash"></i></button>
	<button id="delete" class='large'><i class="icon-forward"></i></button>
