 <div id="book" class="booklist-panel">
	<h6 id="state" class="">Track name</h6>
	<div id="book-progress" class="mod-progress">
		<div class="mod-progressbar">
	    	<span class="progressbar-inner blue" style="width: {{ percentage }}%"></span>
	    </div>
	    <p class="l-tenth right pad--right">S: 2</p>
	    <p class="l-tenth right pad--right">A: 1</p>
	    <p class="l-tenth right pad--right">V: 4</p>
	    <p class="l-tenth right pad--right">L: 1</p>
	    <p class="l-tenth right">8/16</p>
	</div>
</div>
<div>
	<div id="book-details" class="booklist-details clearfix">
	</div>
</div>
<hr>
