<form class="vertical left-floated pad--sides">
	<label>Title:</label>
	<input id="bookname" value="{{ name }}" type="text" />
	<label>Author:</label>
	<div id="author">
	</div>
	<label>Genre:</label>
	<div id="genre">
	</div>
	<label>Pages:</label>
	<div class="input-pair">
		<input id="totalpages" value="{{ current }}" type="number" placeholder="Totalss"/>
		<input id="currpage" value="{{ total }}"type="number" placeholder="Current"/>
	</div>
	<button id="savebook" class="green large icon-plus"> Add book</button> 
</form>
