<form class="vertical left-floated pad--sides">
	<label>Title:</label>
	<input id="bookname" value="{{ name }}" type="text" style="clear: both"/>
	<label>Author:</label>
	<div id="author">
	</div>
	<label>Genre:</label>
	<div id="genre">
	</div>
	<label>Pages:</label>
	<div class="input-pair">
		<input id="totalpages" value="{{ total }}" type="number" placeholder="Total"/>
		<input id="currpage" value="{{ current }}"type="number" placeholder="Current"/>
	</div>
	<button id="savebook" class="green large icon-edit"> Update book</button> 
</form>
