<div class="select-with-icon">
	<select id="list-genre"></select>
	<a id="showinput" href="#add"><i class="icon-large icon-plus-sign"></i></a>
</div>
<div id="inputgenre" class="input-pair-with-icon hide">
	<input id="newgenre" value="" class="l-half" placeholder="Genre"/>
	<button id="addgenre" class="green small">Add genre</button>
	<a id="hideinput" href><i class="icon-large icon-minus-sign"></i></a>
</div>
<!-- 
<button id="editGenre" type="button" class="green">Edit genre</button>
<button id="newGenre" type="button" class="green">New genre</button> -->