<!-- <button id="add" class="green">Add book</button> 
<button id="logout" class="green">Logout</button>  -->
<div id="books_content" class="gap">
	<ul id="books" class="mod-booklist gap">
	</ul>
</div>
<div id="shelvedbooks_content">
	<h5><i class="icon-pause"></i> Shelved</h5>
	<ul id="shelvedbooks" class="mod-booklist gap">
	</ul>
	<button id="showshelved" class="">View all</button>
</div>
<hr>
<div id="donebooks_content">
	<h5><i class="icon-check"></i> Finished</h5>
	<ul id="donebooks" class="mod-booklist">
	</ul>
	<button id="showdone" class="right">View all</button>
</div>