<!-- <button id="add" class="green">Add book</button> 
<button id="logout" class="green">Logout</button>  -->
<div id="books_content">
	<ul id="books" class="mod-booklist">
	</ul>
</div>
<div id="shelvedbooks_content">
	<h6>Shelved books</h6>
	<ul id="shelvedbooks" class="mod-booklist">
	</ul>
	<button id="showshelved" class="green">...</button>
</div>
<div id="donebooks_content">
	<h6>Finished books</h6>
	<ul id="donebooks" class="mod-booklist">
	</ul>
	<button id="showdone" class="green">...</button>
</div>