<!-- <button id="add" class="green">Add book</button> 
<button id="logout" class="green">Logout</button>  -->
<div id="books_content" class="gap">
	<ul id="books" class="mod-booklist gap">
	</ul>
</div>
<div id="shelfedbooks_content">
	<h5 class="pad--left"><i class="icon-pause"></i> Shelved</h5>
	<ul id="shelfedbooks" class="mod-booklist gap">
	</ul>
	<button id="showshelfed" class="right gap--left">View all</button>
</div>
<hr>
<div id="donebooks_content">
	<h5 class="pad--left"><i class="icon-check"></i> Finished</h5>
	<ul id="donebooks" class="mod-booklist gap">
	</ul>
	<button id="showdone" class="right gap--left">View all</button>
</div>
