<div class="col_4"></div>
<div class="col_4 mod-login">
	<form id="loginForm" class="vertical" action="">
		<!-- Tabs Left -->
		<ul class="tabs left">
			<li><a href="#tabr1">Login</a></li>
			<li><a href="#tabr2">Signup</a></li>
		</ul>

		<div id="tabr1" class="tab-content">
			<label for="username">Username</label>
			<input type="text" id="username" value=""/>
			<label for="password">Password</label>
			<input type="password" id="password" value="" />
			<button id="login" class="green">Login</button><br/><br/>
			<a href="#">Forgot your password?</a>
		</div>
		<div id="tabr2" class="tab-content">
			<label for="username">Username</label>
			<input type="text" id="su_username" value=""/>
			<label for="email">Email</label>
			<input type="email" id="su_email" value=""/>
			<label for="password">Password</label>
			<input type="password" id="su_password" value="" />
			<label for="password">Confirm password</label>
			<input type="password" id="su_confirmpassword" value="" />
			<button id="signup" class="green">Sign up</button> 
		</div>
	</form>
</div>
<div class="col_4"></div>