<div class="col_4"></div>
<div class="col_4 mod-login">
	<form id="loginForm" class="vertical pad--sides" action="">
		<ul class="tabs left">
			<li class="current"><a href="#newpass">New password</a></li>
		</ul>
		<div id="newpass" class="tab-content">
			<h5>No problem!</h5>
			<p>Ship us your email and we'll send you a spanking new password.</p>
			<label for="email">Email</label>
			<input type="email" id="email" value=""/>
			<button id="newpassword" class="green">Send it</button>
		</div>
		<div id="login" class="tab-content hide">
		  <h5>Email sent!</h5>
		  <button id="login" class="green">Login</button>
		</div>
	</form>
</div>
<div class="col_4"></div>
